html, body  {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    background-color: lightslategrey;
    box-sizing: border-box;
    margin: 0;
    border: solid black 1px;
    border-radius: 20px;
    height: 90vh;
    max-height: 90vh;
    min-height: 370px;
    width: 90vw;
    max-width: 90vw;
    min-width: 280px;
    padding: 4.5vh 3vw;
    gap: 4.5vh;
}

#display-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 200px;
    min-height: 100px;
    background-color: red;
}

#button-area {
    display: flex;
    flex-direction: column;
    flex: 1.5 1 0;
    min-width: 200px;
    min-height: 150px;
    padding: 0.2vh 0.1vw;
}

.button-row {
    display: flex;
    flex: auto;
}

button {
    flex: 1 1 0;
    font-size: 3.5vh;
    background-color: gainsboro;
    transition: transform 0.3s ease;
    margin: 0.2vh 0.1vw;
    border-radius: 10px;
}

button:hover {
    filter: brightness(0.85);
    transform: translateY(-0.3vh); 
}

button:active {
    transform: translateY(0.1vh); 
    filter: brightness(0.85);
}